:root{
    --videobg: #000;
    --tutorialbg: #808080;
    --active: #000;
    --passive: #808080;
}

.section.video-tutorial{
    display: block;
}

.section.instruction-tutorial {
    display: none;    
}

.toggleview {
    margin-bottom: -7.8rem;
    margin-left: -15px;
}

.toggleview>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.toggleview>ul>li {
    border: 1px solid var(--highlight-background-color);
}

strong a {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    max-width: auto;
    text-align: center;
    border-radius: 0;
}

.toggleview #video-based-learning {
    float: left;
    border-top-left-radius: 10px;
    background-color: var(--videobg);
}

.toggleview #text-based-learning {
    float: left;
    border-bottom-right-radius: 10px;
    background-color: var(--tutorialbg);
}

div.section.video-tutorial {
    padding: 15px;
    border-style: ridge;
    box-shadow: inset 0 3px 6px rgba(0 0 0 16%), 0 4px 6px rgba(0 0 0 45%);
    border-radius: 10px;
}

div.section.instruction-tutorial {
    padding: 15px;
    border-style: ridge;
    box-shadow: inset 0 3px 6px rgba(0 0 0 16%), 0 4px 6px rgba(0 0 0 45%);
    border-radius: 10px;
}