.section.video-tutorial,
.section.instruction-tutorial {
    display: none;
}

.toggleview>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.toggleview>ul>li {
    border: 1px solid var(--highlight-background-color);
}

strong a {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    max-width: auto;
    text-align: center;
    border-radius: 0;

}

.section.video-tutorial,
.section.instruction-tutorial {
    display: none;
}

.toggleview #video-based-learning {
    float: left;
}

.toggleview #instruction-based-learning {
    float: left;
}

div.section.video-tutorial {
    padding: 5px;
    border-style: ridge;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

div.section.instruction-tutorial {
    padding: 5px;
    border-style: ridge;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}